.App {
  text-align: center; }

.header__logo {
  padding-top: 32px;
  height: 80px; }

.header {
  height: 20%;
  padding: 20px;
  color: darkgray;
  margin-bottom: 16px; }
  .header__title {
    font-size: 1.5em;
    padding-top: 32px; }

.App-intro {
  font-size: large; }

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }

.promos {
  width: 100%; }
