.Navbar {
  width: 100%;
  background-color: grey;
  height: 40px;
  display: table;
  overflow: hidden;
  float: right; }
  .Navbar__button {
    display: table-cell;
    vertical-align: middle; }
    .Navbar__button:hover {
      background-color: #222; }
  .Navbar__link {
    text-decoration: none;
    color: #f1f1ee; }
